body {
    color: #40514e;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
    background-color: snow;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-bottom: 0;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 5px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

.top-container {
    background-color: #e4f9f5;  
    position: relative;
    padding-top: 100px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.middle-container {
    margin: 100px 0;
}

.profile-pic {
    border-radius: 100%;
    margin-top: 80px;
}

.web-dev-gif {
    float: left;
    margin-right: 30px;
    width: 30%;
}

.chilli-pepper-gif {
    float: right;
    margin-left: 30px;
    width: 20%;
}

.skill-row {
    margin: 100px auto;
    text-align: left;
    width: 50%;
}

.intro-row {
    margin: auto;
    width: 30%;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-container {
    background-color:  #66bfbf;
    padding: 50px 0 20px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

/*  ***********************************************************************************************  */


@media only screen and (min-width: 1920px) {
    
    h1 {
        padding: 85px 0 20px 0;
        font-size: 6rem;
    }
    
    h2 {
        font-size: 2.9rem;
        padding: 20px 0;
    }
    
    .top-cloud {
        right: 400px;
        top: 100px;
    }
    
    .bottom-cloud {
        left: 400px;
    }
    
    .middle-container {
        margin: 0;
    }

    .profile {
        padding: 100px 0 200px 0;
    }
    
    
    .chilli-pepper-gif {
        width: 15%;
    }
    
    .skill-row1 {
        margin: 100px auto;
        text-align: left;
        width: 50%;
    }

    .skill-row2 {
        margin: 200px auto;
        text-align: left;
        width: 50%;
    }

    .contact-me {
        margin-bottom: 250px;
    }
  }
